@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --stufe1-color: #f4f4f2;
  --stufe2-color: #e8e8e8;
  --stufe3-color: #bbbfca;
  --stufe4-color: #495464;
  --white-color: #fff;
  --dark-color: #3d3d3d;
  --blue1-color: #51adcf;
  --blue2-color: #0278ae;
}

html {
  line-height: 1.6;
  font-size: 1rem;
}

body {
  margin: 0 auto;
  font-family: "Roboto Mono", monospace;
  background-color: var(--stufe1-color);
  color: var(--dark-color);
}

.section-center {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.container {
  background-color: var(--stufe1-color);
  width: 100%;
  height: 100vh;
  padding: 1rem;
  margin: 0 auto;
  /* background-color: #51adcf; */
}

.card {
  background-color: var(--white-color);
  color: #333;
  border-radius: 0px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 0 auto;
  width: 100%;
  margin-top: 0.7rem;
  transition: all 1s ease;
}

/* .bildBox {
  margin: 0 auto;
  background-color: #f4f4f2;
} */
.bildBox img {
  width: 100%;
  object-fit: cover;
}

.bild {
  height: 450px;
}

.box {
  display: flex;
  justify-self: center;

  width: 100%;
}

.box2 {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

button {
  width: 100%;
  background-color: var(--blue1-color);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-family: "Roboto Mono", monospace;
}

button:hover {
  background-color: var(--blue2-color);
}

@media screen and (max-width: 842px) {
  .container {
    width: 100%;
  }
  .card {
    background-color: var(--white-color);
    width: 80%;
    margin-top: 0.7rem;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
    /* background-color: red; */
  }
  .card {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 100%;
    /* background-color: green; */
  }
  .card {
    width: 30%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 100%;
    /* background-color: darkorange; */
  }
  .card {
    width: 23%;
  }
}
